<link rel="stylesheet" href="/styles/styleArtists.css">

<div class="artists">
  {{#each artist}}
    <div class="artist-div">
      <img src="{{this.images.1.url}}" alt="{{this.name}}" />
    
    <p>
      {{this.name}}
     <a href="/albums/{{this.id}}">View Albums</a> 
    </p>
</div>
    
  
  {{/each}}
</div>
