
    <link rel="stylesheet" href="/styles/style.css">

<body>
  
<div>
    <form class="search-box" action='/artist-search' method='get'>
      <label for='artistName'></label>
      <input type='text' name='artistName' id='artistName' />

      <button class="button" type='submit'>Search for an Artist</button>
    </form>
    </div>
</body>