.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
    
}

.artist-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 108, 11);
}